// Define variable defaults
$default:       #172b4d !default;
// $primary:       #5e72e4 !default;
$primary:       #1877F2 !default;
$secondary:     #f7fafc !default;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';